.cart-container{
    margin: 40px auto;
    width: 55%;
    height: 70%;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
}

.cart-header{
    width: 20%;
    height: 10%;
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    top: -5%;
    left: 5%;
    background-color: #50B7FF;
}

.cart-title{
    font-size: 1.5rem;
    position: absolute;
    top: -3.5%;
    left: 9%;
}

.row-header{
    background-color: #e4e4e4;
    border-bottom: 1px solid #000000;
    height: 15%;
    width: 100%;
    border-radius: 20px;
    display: flex;
}

p{
    margin-top: 3.5%;
    font-size: 1.5rem;
    font-weight: 300;
}

.product{
    margin-left: 12%;
}
.price{
    margin-left: 30%;
}
.quantity{
    margin-left: 8%;
}
.total{
    margin-left: 8%;
}

.product-container{
    border-bottom: 1px solid #000000;
    height: 50%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.photo{
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.nvidia-container, .ryzen-container{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
}

.description{
    margin: auto 10px;
    width: 20%;
}

.r-price{
    margin-left: 15%;
}

.r-quantity{
    margin-left: 13%;
}
.r-total{
    margin-left: 12.5%;
}

.delivery-container{
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 50%;
    height: 24%;
    border-radius: 20px;
    margin-top: 6.4%;
    position: relative;
}


.delivery-header{
    width: 56%;
    height: 30%;
    border: 1px solid #000000;
    border-radius: 20px;
    position: absolute;
    top: -16%;
    left: 5%;
    background-color: #50B7FF;
}

.delivery-title{
    font-size: 1.5rem;
    position: absolute;
    top: -12%;
    left: 11%;
}

.type{
    margin-top: 8%;
}

.machine{
    margin: 0;
    margin-left: 20px;
}
.address{
    margin-left: 20px;
}

.dot-container{
    display: flex;
}

.input-radio{
    width: 50px;
}
.input-radio2{
    width: 24px;
    margin-bottom: 2.5%;
    margin-left: 11%;
}

.total-container {
    height: 40px;
    width: 40%;
    border: 1px solid #000000;
    border-top: none;
    border-radius: 10px;
    top: -46%;
    right: -90%;
    position: absolute;
}

.total-price{
    font-size: 1.25rem;
    top: 20%;
    right: 16%;
    position: absolute;
}

.checkout-button{
    height: 40px;
    width: 40%;
    font-size: 1.5rem;
    border: 1px solid #000000;
    background-color: #50B7FF;
    border-radius: 20px;
    bottom: 10%;
    right: -90%;
    position: absolute;
    cursor: pointer;
}




@media (min-width: 1800px){
    .cart-title, .delivery-title{
        font-size: 2rem;
    }
    .r-price{
        margin-left: 16.5%;
    }
    
    .r-quantity{
        margin-left: 12%;
    }
    .r-total{
        margin-left: 11.5%;
    }
    .input-radio2{
        margin-bottom: 1%;
        margin-left: 8%;
    }
    .total-container {
        top: -44%;
        right: -90%;
    }
}