<app-header></app-header>
<app-main-banner></app-main-banner>

<div class="cart-container">
    <div class="cart-header"></div>
    <div class="cart-title">Your cart</div>

    <div class="row-header">
        <p class="product">Product</p>
        <p class="price">Price</p>
        <p class="quantity">Quantity</p>
        <p class="total">Total</p>
    </div>

    <div class="product-container">
        <div class="nvidia-container">
            <img class="photo" src="../../assets/rtx.png" />
            <div class="description">NVIDIA GeForce RTX 4090: Unleash the Power of Ultimate Gaming Performance</div>
            <p class="r-price">530€</p>
            <p class="r-quantity">2</p>
            <p class="r-total">1060€</p>
        </div>

        <div class="ryzen-container">
            <img class="photo" src="../../assets/ryzen.webp" />
            <div class="description">AMD Ryzen 7950X3D CPU: the epitome of high-performance computing</div>
            <p class="r-price">469€</p>
            <p class="r-quantity">1</p>
            <p class="r-total">469€</p>
        </div>
    </div>


    <div class="delivery-container">
        <div class="delivery-header"></div>
        <div class="delivery-title">Delivery Options</div>

        <div class="type">
        <div class="dot-container">
            <p class="machine">Delivery to parcel machine</p>
            <input type="radio" class="input-radio" name="delivery-option"/>
        </div>

        <div class="dot-container">
        <p class="address">Delivery to your address</p>
        <input type="radio" class="input-radio2" name="delivery-option"/>
        </div>
    </div>

    <div class="total-container">
        <div class="total-price">Total: 1529€</div>
    </div>

    <button class="checkout-button">Checkout</button>
    </div>
</div>