<app-header></app-header>
<app-main-banner></app-main-banner>

<div class="container">
    <div class="header"></div>
    <div class="header-name">Product</div>

    <div class="product-container">
        <img class="rtx" src="../../assets/rtx.png"/>
        <div class="info-container">
        <div class="title">NVIDIA GeForce RTX 4090: Unleash the Power of Ultimate Gaming Performance</div>
        <div class="price">530€</div>
        <div class="con">
        <input class="quantity" type="number"/>
        <button class="add-to-cart">Add to cart</button>
    </div>
    </div>
    </div>

    <div class="more-information-container">
        <div class="headerr"></div>
    <div class="headerr-name">More information</div>

    <ul>
        <li class="first"><b>Ampere Architecture:</b> Powered by the revolutionary NVIDIA Ampere architecture, the RTX 4090 brings to life real-time ray tracing and AI-enhanced graphics.</li>
        <li><b>24GB GDDR6X VRAM:</b> With a staggering 24 gigabytes of GDDR6X video memory, the RTX 4090 ensures that even the most demanding games and creative applications run smoothly.</li>
        <li><b>CUDA Cores and Tensor Cores:</b> The RTX 4090 is equipped with a massive number of CUDA cores for parallel processing and Tensor Cores for AI-powered tasks.</li>
        <li><b>Ray Tracing and DLSS 2.0:</b> Immerse yourself in lifelike graphics with real-time ray tracing. The RTX 4090's dedicated hardware allows for accurate simulation of light, shadows, and reflections.</li>
    </ul>
    </div>
    <img class="sale" src="../../assets/sale2.png"/>
    <img class="nvidia" src="../../assets/nvidia.png"/>
</div>